/* VARIABLES */

:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: rgba(70, 70, 70, 0.4);

  --text-heading: #f0f0f0;
  --text-normal: #d1d1d1;
  --text-muted: #999999;
  --text-inactive: rgba(153, 153, 153, 0.5);

  /* blue */
  --text-accent: #889eaa;
  --link-hover: hsl(201, 17%, 68%);
  /* red */
  /* --text-accent: #b57a7b; */
  /* --link-hover: hsl(359, 27%, 70%); */

  --separator: rgba(153, 153, 153, 0.1);

  --transition-normal: all 0.15s ease-in-out;
}

/* BASE */

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter Variable", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-primary);
  color: var(--text-normal);
  line-height: 1.55;
  padding-bottom: 5rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  color: var(--text-normal);
}

ol,
ul {
  list-style-position: inside;
  padding-left: 2rem;
}

img {
  width: 100%;
  height: auto;
}

span {
  display: inline-block;
}

/* HEADINGS */

h1,
h2,
h3 {
  color: var(--text-heading);
}

h1 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

h4 {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.subtitle {
  color: var(--text-muted);
  margin-bottom: 0.75rem;
}

/* HEADER */

.nav {
  padding-top: 3rem;
  margin-bottom: 6rem;
}

.nav ul {
  gap: 1em;
}

.nav__link:link .nav__link:visited {
  transition: var(--transition-normal);
}

@media (hover: hover) {
  .nav__link:hover {
    color: var(--text-accent);
  }
}

/* FOOTER */

footer {
  padding-bottom: 5rem;
}

footer > .flex-row {
  justify-content: center;
  font-size: 0.85em;
}

footer p {
  color: var(--text-inactive);
}

.footer__links a:link,
.footer__links a:visited {
  display: flex;
  align-items: center;
  transition: var(--transition-normal);
}

.footer__links a:hover,
.footer__links a:active {
  opacity: 0.7;
}

.footer__icon {
  width: 20px;
}

/* INDEX */

.welcome {
  margin-bottom: 3rem;
}

.card {
  margin-bottom: 2rem;
  padding: 1.75rem 2rem;
  border: 1px solid var(--separator);
  transition: var(--transition-normal);
}

.card:last-of-type {
  margin-bottom: 3rem;
}

.card:hover {
  border-color: rgba(153, 153, 153, 0.25);
}

.card h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--text-muted);
}

.card__content {
  font-size: 0.9em;
}

.card__cta {
  transition: var(--transition-normal);
}

.card__content:hover .card__cta {
  color: var(--text-accent);
}

/* ENTRIES */

.entry {
  font-size: 0.95em;
  padding-bottom: 1.1rem;
  margin-bottom: 1.1rem;
}

.entry:not(:last-child) {
  border-bottom: 1px solid var(--separator);
}

.entry__title {
  font-weight: 500;
  transition: var(--transition-normal);
  color: var(--text-heading);
}

.entry__topic {
  color: var(--text-muted);
}

.entry__link:hover .entry__title {
  color: var(--text-accent);
}

.side-note {
  font-size: 0.9em;
  padding: 1.5rem 1.75rem;
  margin-bottom: 2rem;
  border-left: 1.5px solid var(--text-inactive);
  background-color: var(--bg-secondary);
}

.side-note p {
  color: var(--text-normal);
  margin-bottom: 0;
}

.side-note p:not(:last-child) {
  margin-bottom: 1rem;
}

/* NOTES */

.note-wrapper {
  max-height: 50rem;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--separator);
  transition: var(--transition-normal);
}

.note-wrapper:hover {
  border-color: rgba(153, 153, 153, 0.25);
}

.note-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.note {
  font-size: 0.9em;
  height: 100%;
  max-height: 40rem;
  padding: 1.75rem 2rem;
  overflow-y: auto;
  background-color: transparent;
}

.note > h2 {
  margin-bottom: 1.5rem;
}

.note > div > span {
  font-size: 0.9em;
  margin-bottom: 1.5rem;
  color: var(--text-muted);
}

.note__link:link,
.note__link:visited {
  z-index: 2;
  align-self: flex-start;
  position: relative;
  transition: var(--transition-normal);
}

.note__link:hover,
.note__link:active {
  opacity: 0.5;
}

.note__icon {
  width: 20px;
  filter: brightness(1);
  transition: var(--transition-normal);
}

.note-wrapper:hover .note__icon {
  filter: brightness(1.2);
}

/* MARKDOWN */

.markdown__content > h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

pre,
.markdown__content > ol,
.markdown__content > ul,
.markdown__content > p {
  margin-bottom: 1.4em;
}

.markdown__content > p:has(+ ol),
.markdown__content > p:has(+ ul) {
  margin-bottom: 0.5rem;
}

.markdown__content p:last-child,
.markdown__content ul:last-child {
  margin-bottom: 0;
}

p > a:link,
p > a:visited {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  color: var(--text-accent);
  transition: var(--transition-normal);
  text-decoration-line: underline;
  text-decoration-color: rgba(153, 153, 153, 0.25);
}

p > a:link::after,
p > a:visited::after {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  margin-left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  mask-image: url("/src/assets/link.svg");
  -webkit-mask-image: url("/src/assets/link.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--text-inactive);
}

p > a:hover,
p > a:active {
  color: var(--link-hover);
  text-decoration-thickness: 1.25px;
  text-decoration-color: var(--link-hover);
}

blockquote {
  font-size: 0.95em;
  padding-left: 1.75rem;
  color: var(--text-muted);
  border-left: 1.5px solid var(--text-inactive);
}

blockquote:not(:last-child) {
  margin-bottom: 1.4em;
}

p code {
  font-size: 0.9em;
  white-space: nowrap;
  padding: 0.15rem 0.45rem;
  color: var(--text-heading);
  background-color: var(--bg-secondary);
}

pre {
  font-size: 0.9em;
  padding: 1.25rem 1.5rem;
  background-color: var(--bg-secondary) !important;
}

pre:last-child {
  margin-bottom: 0;
}

strong {
  font-weight: 600;
  color: var(--text-heading);
}

/* OTHER */

main.container,
body > main {
  margin-bottom: 15rem;
}

.container {
  margin: 0 auto;
  width: 91%;
  max-width: 65rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
}

header {
  margin-bottom: 3.2rem;
}

hr {
  background-color: var(--separator);
  border: none;
  height: 1px;
  margin: 2.5em 0 2.5em 0;
}
