---
import type { Frontmatter } from "../utils/types";

const frontmatter = Astro.props as Frontmatter & { url: string };
---

<div class="entry">
  <a href={frontmatter.url} class="entry__link flex-row">
    <span class="entry__title">{frontmatter.title}</span>
    <span class="entry__topic">{frontmatter.topic}</span>
  </a>
</div>
