<header class="container">
  <nav class="nav flex-row">
    <div class="flex-row">
      <a class="nav__link" href="/">Bastian</a>
    </div>
    <div>
      <ul class="flex-row">
        <li><a class="nav__link" href="/entries">Entries</a></li>
        <li><a class="nav__link" href="/notes">Notes</a></li>
      </ul>
    </div>
  </nav>
</header>
