---
import Navigation from "./Navigation.astro";
---

<header class="container">
  <nav class="nav flex-row">
    <div class="flex-row">
      <a class="nav__home" href="/">Bastian</a>
    </div>
    <Navigation />
  </nav>
</header>
