<div>
  <ul class="flex-row">
    <li><a href="/entries" class="btn">Entries</a></li>
    <li><a href="/notes" class="btn">Notes</a></li>
    <li><a href="/other" class="btn">Other</a></li>
  </ul>
</div>
