---
import { Image } from "astro:assets";
import readIcon from "../assets/read.svg";
import type { Frontmatter } from "../utils/types";

const frontmatter = Astro.props as Frontmatter & { url: string };
---

<div class="note-wrapper">
  <div class="note">
    <div class="flex-row">
      <span>{frontmatter.topic}</span>
      <a href={frontmatter.url} class="note__link">
        <Image
          class="note__icon"
          src={readIcon}
          alt="Read"
          width="20"
          height="20"
          loading="lazy"
        />
      </a>
    </div>
    <h2>{frontmatter.title}</h2>
    <div class="markdown__content">
      <slot />
    </div>
  </div>
</div>
