---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource-variable/inter";
import interLatinWoff2 from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";

const { title = "Bastian" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href={interLatinWoff2}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Bastian"
      href={new URL("rss.xml", Astro.site)}
    />
    <title>{title === "Bastian" ? title : `${title} - Bastian`}</title>
    <ClientRouter />
  </head>
  <body transition:animate="none">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
