---
import Base from "./Base.astro";
import { formatDate } from "../utils/dates.ts";

const { frontmatter } = Astro.props;
const date = formatDate(frontmatter.date.toString());
---

<Base title={frontmatter.title}>
  <main class="container">
    <article>
      <header>
        <h1>{frontmatter.title}</h1>
        <span class="subtitle">{`${date} - ${frontmatter.topic}`}</span>
      </header>
      <main>
        <div class="markdown__content">
          <slot />
        </div>
      </main>
    </article>
  </main>
</Base>
